body {
  background: #000;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.error {
  color: red;
}
.app-container {
  padding: 10px;
  header {
    display: flex;
    justify-content: center;
    margin: 16px auto;
    padding: 8px;
    border-bottom: 1px white solid;
    vertical-align: middle;
    img {
      margin: 2px 8px;
      height: 30px;
    }
  }

  .content-container {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    .card {
      background-color: rgb(42, 43, 43);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      border-radius: 5px;
      .container {
        padding: 5px 16px;
        margin: 2px;
      }
      img {
        width: 50px;
        height: 50px;
        border-radius: 5px 5px 0 0;
      }
    }

    /* On mouse-over, add a deeper shadow */
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }

    .categories {
      width: 30%;
    }
    .channels {
      width: 70%;
    }
  }
}
